@import "variables.less";
@import "mixins.less";
@import "fonts.less";

* {
    margin: 0;
    padding: 0;
}

:focus {
    outline: none;
}


@import "container";

.main-header {

    background-image: url(../img/photo_11982.png);
    background-color: #fff;
    background-size: 100%;
    background-repeat: no-repeat;
    width: @width;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &_logo-link {
        text-decoration: none;
        display: flex;
        width: @width - 90%;
        color: white;
        justify-content: space-around;
        align-items: center;
        margin-left: 200px;
    }

    &_logo-link:hover {
        color: #c7b299;
    }

    &_logo-link:active {
        color: #fff;
    }

    &_logo-icon {
        fill: CurrentColor;
    }

    &_logo-txt {
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 400;
        font-size: 34px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.04em;
    }
}

.nav-header {
    display: flex;
    align-items: center;
    margin-right: 150px;

    &_list {
        display: flex;
        list-style-type: none;
    }

    &_list-link {
        font-family: 'montserrat', 'arial', sans-serif;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #ffffff;
        text-decoration: none;
    }

    &_list-link:hover {
        color: #c7b299;
    }

    &_list-link:active {
        color: #fff;
    }

    &_list-item {
        margin-right: 30px;
    }

    &_btn-icon-card {
        margin-left: 60px;
        background-color: transparent;
        border: none;
        fill: #fff;
        cursor: pointer;
    }

    &_btn-icon-card:hover {
        fill: #c7b299;
    }

    &_btn-icon-card:active {
        fill: #fff;
    }

    &_search {
        margin-left: 30px;
        position: relative;
    }

    &_search-icon {
        background-image: url(../img/icon_search.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 10px;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: none;
        position: absolute;
        top: -12px;
        cursor: pointer;
        color: #fff;
        font-size: 18px;
        font-family: 'montserrat', 'arial', sans-serif;
        font-weight: 400;

    }

    &_search-icon::placeholder {
        text-align: left;
        color: transparent;
        font-size: 18px;
    }

    &_search-icon:focus::placeholder {
        text-align: left;
        color: #ccc;
        font-size: 18px;
    }



    &_search-icon:hover {
        background-color: #c7b299;

    }

    &_search-icon:active {
        color: #fff;
    }

    &_search-icon:focus {
        width: 180px;
        transition: width 1s ease-out;
        background-position: right;
        background-color: #c7b299;
        padding: 0 25px 0 25px;

    }

}

.slider-header {
    width: @width;
    margin-top: 285px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    &_arrow-right {
        display: block;
        color: #fff;
        width: 73px;
        height: 73px;
        border-bottom: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(45deg);

    }

    &_arrow-right:hover {
        border-bottom: 2px solid #d3c1ad;
        border-left: 2px solid #d3c1ad;
    }

    &_arrow-right:active {
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
    }

    &_slogan {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: @width/3;
    }

    &_title {
        display: block;
        font-size: 36px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 500;
    }

    &_subtitile {
        font-family: 'raleway', 'arial', sans-serif;
        display: block;
        font-size: 52px;
        line-height: 1.2;
        font-weight: 800;
        color: #ffffff;
        margin: 15px 0 0 0;
    }

    &_txt {
        font-family: 'montserrat', 'arial', sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #ffffff;
        text-align: center;
        margin: 20px 0 0 0;
    }

    &_btn {
        font-family: 'raleway', 'arial', sans-serif;
        width: 170px;
        height: 53px;
        background-color: #998675;
        border-radius: 3.0px;
        font-size: 14px;
        line-height: 23px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
        margin: 50px 0 0 0;
        border: none;
    }

    &_btn:hover {
        background-color: #fff;
        color: #998675;
    }

    &_btn:active {
        background-color: #998675;
        color: #fff;
    }

    &_arrow-left {
        display: block;
        color: #fff;
        width: 73px;
        height: 73px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        opacity: 0.5;
        transform: rotate(45deg);

    }

    &_arrow-left:hover {
        border-top: 2px solid #d3c1ad;
        border-right: 2px solid #d3c1ad;
    }

    &_arrow-left:active {
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
    }

    &_pagination {

        text-align: center;
        width: @width;
        margin: 275px 0 0 0;
    }

    &_pagination-circle {
        width: 11px;
        height: 11px;
        display: inline-block;
        background-color: #fff;
        border-radius: 50%;
        margin: 10px;
        opacity: 0.5;
        border: 2px solid transparent;
    }


    &_pagination-circle:hover {
        border: 2px solid #d3c1ad;
        transform: scale(1.5);
    }

}

.features {
    padding: 80px;
    box-sizing: border-box;
    width: @width;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &_wrp {
        width: @width / 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-end;
        margin: 0 30px 0 0
    }

    &_wrp:nth-child(4) {
        margin: 0;
    }

    &_wrp:hover &_wrp-icon {
        fill: #c7b299;

    }

    &_wrp:hover:after {
        background-color: #c7b299;
    }

    &_wrp:hover &_wrp-title {
        color: #c7b299;
    }

    &_wrp:after {
        content: "";
        display: block;
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
    }


    &_wrp-icon {
        fill: #555555;
        display: block;
        margin: 0 0 30px 0;

    }

    &_wrp-title {
        display: block;
        font-family: 'raleway', 'arial', sans-serif;
        font-size: 22px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin: 0 0 20px 0;
    }

    &_wrp-txt {
        font-family: 'montserrat', 'arial', sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #8c8c8c;
        text-align: center;
        margin: 0 0 30px 0;
        width: @width;

    }
}

.realization {
    width: @width;
    padding: 80px 80px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfaf8;

    &_title {
        display: block;
        font-family: 'raleway', 'arial', sans-serif;
        font-size: 30px;
        line-height: 1.2;
        font-weight: 600;
        color: #555555;
        margin: 0 0 25px 0;
    }

    &_txt {
        font-family: 'montserrat', 'arial', sans-serif;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        color: #8c8c8c;
        width: @width / 2.5;
        text-align: center;
        margin: 0 0 40px 0;
    }

    &_pic {
        width: 1230px;
        min-height: 482px;
        background-image: url(../img/browser_center.png), url(../img/browser_right.png), url(../img/browser_left.png);
        background-position: center, bottom right, bottom left;
        background-repeat: no-repeat;
        background-color: #fbfaf8;
        background-size: auto;
    }
}

.promo {
    width: @width;
    padding: 50px;
    box-sizing: border-box;
    background: -moz-linear-gradient(82deg, rgba(2, 0, 36, 1) 0%, rgba(87, 57, 47, 1) 94%);
    background: -webkit-linear-gradient(82deg, rgba(2, 0, 36, 1) 0%, rgba(87, 57, 47, 1) 94%);
    background: linear-gradient(82deg, rgba(2, 0, 36, 1) 0%, rgba(87, 57, 47, 1) 94%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &_wrp {
        margin-right: 480px;
    }

    &_title {
        font-family: 'raleway', 'arial', sans-serif;
        font-size: 28px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
        margin: 0 0 8px 0;

    }

    &_title-inner {
        color: #c7b299;
    }

    &_txt {
        font-family: 'montserrat', 'arial', sans-serif;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 300;
        color: #615855;
    }

    &_btn {
        width: 170px;
        height: 50px;
        background-color: #998675;
        border-radius: 3.0px;
        border: none;
        font-family: 'raleway', 'arial', sans-serif;
        font-size: 14px;
        line-height: 23px;
        font-weight: 800;
        text-transform: uppercase;
        color: #ffffff;
    }

    &_btn:hover {
        background-color: #fff;
        color: #998675;
    }

    &_btn:active {
        background-color: #998675;
        color: #fff;
    }
}
